
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#main-painel::-webkit-scrollbar{
    width: 10px;
    border-radius: 150px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#main-painel::-webkit-scrollbar-track{
    background: #bb3f39;
    border-radius: 150px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
#main-painel::-webkit-scrollbar-thumb{
    background: #1f1e1e;
    border-radius: 30px;
    border-radius: 150px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

body {
    background-color: #FFFF;
    overflow: hidden;
}

/* ----- CABECALHO ----- */
#header-painel {
    height: 15vh;
    min-height: 135px;
    width: 100%;
    background-color: #CA4F49;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0px 25px;
    color: #ffff;
}

.sair {
    width: 180px;
    display: flex;
    justify-content: end;
    cursor: grab;
}

.botao-sair {
    background: none;
    border: none;
    font-size: 1.3em;
    color: #ffff;
    transition: all 1s ease;
}

.botao-sair:hover {
    transition: all 0.5s ease;
    transform: translateX(-10px);    
}

/* ----- BOTÕES ----- */
#botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-adm{  
    margin: 20px 20px 0px 20px;
    border: none;
    border-radius: 19px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #D9D9D9;   
    box-shadow: inset -3px 4px 3px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
    cursor: grabbing;
}

.botao-adm:hover{
    background-color: #CA4F49;
    border: none;
    color: white;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.selecionado {
    background-color: #CA4F49;
    border: none;
    color: white;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}


/* ----- TITULO DOS CAMPOS DO PAINEL ----- */
#titulo {
    margin-top: 30px;
    text-align: center;
}

#selecao-perguntas {
    position: relative;
    left: 25px;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

#selecao-perguntas select {
    border: none;
    border-radius: 5px;
    background-color: #ECEBEB;
}

/* ----- CORPO DO PAINEL ----- */
#main-painel {
    background-color: #ECEBEB;
    height: 65vh;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    transition: all 0.5s ease;
}

/* ----- CAMPOS ----- */
#adicionar-perguntas{
    display: none;
}

#perguntas-resposta {
    display: none;
}

#perguntas-sem-resposta {
    display: none;
}

#perguntas-excluidas {
    display: none;
}


/* ----- PERGUNTAS ----- */
.pergunta{
    background-color: #E2CBCB;
    padding-top: 10px;
    padding: 20px;
    margin: 20px;
    height: 220px;
    border-radius: 20px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.pergunta-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}

.pergunta-campo-informacoes{
    display: flex;
}

.pergunta-imagem{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.pergunta-informacoes h3{
    font-weight: 700;
}

.pergunta-informacoes span{
    font-size: 0.7rem;
    color:  #858585;
}

.pergunta-campo-botoes{
    display: flex;
}

.editarButton{
    background-color:#44BC5F;
}

.excluirButton, .motivoButton{
    background-color:#b9251e;
}

.addButton{
    background-color: #1b5829;
}
.recuperarButton{
background-color: #8f6137;
}

.pergunta-botao{
    align-items: center;
    gap: 7px;
    display: flex;
    margin: 5px;
    padding: 7px 10px;
    border: none;
    border-radius: 19px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    box-shadow: inset -3px 4px 3px rgba(0, 0, 0, 0.25);
}

.pergunta-botao:hover {
    box-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}

.pergunta-aluno{
    background: none;
    resize: none;
    display: flex;
    align-items: baseline;
    margin-top: 5px;
    margin-bottom: 3px;
    padding: 10px;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 0 0 19px 19px;
    font-size: 20px;
    color: black;
}

.pergunta-campo-resposta{
    display: flex;
    align-items: baseline;
    resize: none;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 0 0 19px 19px;
    font-size: 15px;
    background-color: #ffff ;
}

/* ----- MODAL ----- */
dialog {
    min-width: 800px;
    border: none;
    box-shadow: 10px 10px rgb(82, 82, 82);
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #d6d6d6;
}

dialog #modal-editar {
    min-height: 400px;
}

dialog::backdrop {
    background-color: #00000069;
}

.modal-header-padrao {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
}

#modal-editar-header h1, #modal-PE-editar-header h1{
    background-color: #cce7ca;
    color: #40774d;
}

.modal-main-padrao {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-editar-button-padrao {
    box-sizing: border-box;
    margin: 20px;
    padding: 10px 40px;
    margin-top: 10px;
    width: 95%;
    border-radius: 20px;
    border: none;
    background-color: #44BC5F;
    color: #ffff;
    cursor: pointer;
    box-shadow: inset -3px 4px 3px rgba(0, 0, 0, 0.25);
    transition: all .5s ease;
}

.modal-editar-button-padrao:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    transition: all .5s ease;
}

.modal-campo-pergunta-padrao {
    padding: 20px;
    font-size: 2rem;
}

.modal-campo-resposta-padrao, #modal-motivo {
    padding: 20px;
    font-size: 1.2rem;
}


.modal-main-padrao textarea {
    padding: 20px;
    font-size: 1.5rem;
    border: none;
    background-color: #ebebeb;
    border-radius: 15px;
}


#modal-excluir-main textarea {
    margin-top: 5px;
    width: 100%;
    border: none;
    background-color: #ebebeb;
    border-radius: 15px;
}

#modal-excluir-main  h4 {
    margin-top: 25px;
}

#modal-excluir-header h1, #modal-PE-motivo-header h1 {
    border-radius: 10px;
    background-color: #d39090;
    color: #a81f18;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#modal-excluir-main {
    padding: 20px;
}

#modal-excluir-main h2 {
    color: #851911;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 10px;
}

#modal-excluir-main span {
    color: #5a0904;
    font-weight: 900;
}

#modal-PE-motivo-btnCancelar{
    box-sizing: border-box;
    margin: 20px;
    padding: 10px 40px;
    margin-top: 30px;
    width: 95%;
    border-radius: 20px;
    border: none;
    color: #ffff;
    cursor: pointer;
    box-shadow: inset -3px 4px 3px rgba(0, 0, 0, 0.25);
    background-color: #940f08;
}

#modal-excluir-btnExcluir, #modal-excluir-btnCancelar{
    box-sizing: border-box;
    margin: 20px;
    padding: 10px 40px;
    margin-top: 30px;
    width: 45%;
    border-radius: 20px;
    border: none;
    color: #ffff;
    cursor: pointer;
    box-shadow: inset -3px 4px 3px rgba(0, 0, 0, 0.25);
}

#modal-excluir-btnExcluir {
    background-color: #962f28;
}

#modal-excluir-btnCancelar {
    background-color: #44BC5F;
}

#modal-excluir-btnExcluir:hover, #modal-excluir-btnCancelar:hover, #modal-PE-motivo-btnCancelar:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

/* MODAL DE RECUPERACAO */
#modal-PE-recuperar-header {
    background-color: #8f6137;
    color: #ffff;
}

#modal-PE-recuperar-main h2{
    color: #553920;
    font-weight: 900;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

#modal-PE-recuperar-main textarea {
    color: #553920;
}

#campo_modal_PE_recuperar_motivo, #campo_modal_PE_motivo {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow-x: scroll;
}

#campo_modal_PE_recuperar_motivo h1{
    text-transform: uppercase;
    color: #553920;
}

#campo_modal_PE_motivo h1 {
    text-transform: uppercase;
    color: #940f08;
}

#modal-PE-recuperar-buttons, #modal-excluir-buttons {
    display: flex;
}

#modal-PE-recuperar-btnFechar, #modal-PE-recuperar-btnCancelar {
    box-sizing: border-box;
    margin: 20px;
    padding: 10px 40px;
    margin-top: 10px;
    width: 45%;
    border-radius: 20px;
    border: none;
    color: #ffff;
    cursor: pointer;
    box-shadow: inset -3px 4px 3px rgba(0, 0, 0, 0.25);
    transition: all .5s ease;
}

#modal-PE-recuperar-btnFechar {
    background-color: #44BC5F;
}

#modal-PE-recuperar-btnCancelar {
    background-color: #962f28;
}

#modal-PE-recuperar-btnFechar:hover, #modal-PE-recuperar-btnCancelar:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}